@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  transition: all 0.25s;
}
*::selection {
  color: white;
  background: #eb3e32;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
a:hover {
  color: #eb3e32;
  transition: all 0.25s;
}
.card-hidden-btn {
  display: none;
  width: 40px;
}
.feat-card:hover .card-hidden-btn {
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
}
.feat-card {
  width: 250px;
}
.feat-card-img {
  height: 200px;
}
.zoomable-image {
  overflow: hidden;
  width: 100%;
}
.feat-card:hover .feat-card-img {
  scale: 1.05;
  transition: all 0.25s;
}
.toggle-btn {
  background-color: white;
  border: 0.5px solid grey;
  color: grey;
  font-size: 15px;
  padding: 5px;
  transition: all 0.35s linear;
  border-radius: 5px;
}
.toggle-btn:hover {
  color: white;
  background-color: red;
}
.footer {
  background-color: #26292e;
}
.footer-col {
  max-width: 25%;
}
.home-hero-col {
  max-width: 50%;
}
.home-hero-img {
  background-image: url("../public/assets/images/home-hero-bg.png");
  border-radius: 100%;
}
.category-card-cont {
  width: 30%;
  min-width: 300px;
}
.category-card-cont:hover .zooming-img {
  scale: 1.02;
  transition: all 0.5s;
}
.image-zoom:hover {
  scale: 1.02;
  transition: all 0.25;
}
.last-comp {
  margin-bottom: 400px;
}
@media (max-width: 800px) {
  .footer-col {
    max-width: 100%;
  }
  .last-comp {
    margin-bottom: 700px;
  }
  .feat-card {
    width: 300px;
  }
  .image-zoom {
    width: 90%;
  }
}
@media (max-width: 400px) {
  .feat-card {
    width: 80%;
  }
}
